.plan-chooser {
          background-color: rgba(255, 255, 255, 1);
          width: 520px;
          height: 650px;
          border-radius: 10px;
          padding: 20px;
          color: #000;
          box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
          margin-left: 100px;
          margin-top: 7rem;
}

.steps{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 1rem;
}

.signup{
          display: flex;
          width: 38px;
          height: 38px;
          padding: 7.093px 10.133px 8.107px 10.133px;
          justify-content: center;
          align-items: center;
          border-radius: 1000px;
          background: #0096FF;
          color: #fff;
}
.subscribe{
          display: flex;
          width: 38px;
          height: 38px;
          padding: 7.093px 10.133px 8.107px 10.133px;
          justify-content: center;
          align-items: center;
          border-radius: 1000px;
          background: #0096FF;
          color: #fff;
}
        
.header-form {
          text-align: center;
          
}
        
.plan-chooser .title {
          color: #3C4852;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 125.303%; /* 30.073px */
}

        
.plan-option {
          margin-top: 1rem;
          margin-bottom: 15px;
}
        
.plan-option label {
          cursor: pointer;
          overflow: hidden;
          border: 2px solid rgba(229, 231, 235, 1);
          border-radius: 0.375rem;
          background-color: rgba(249, 250, 251, 1);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem .4rem;
          margin: 10px 0;
          transform: all .15s ease;
}
        
.plan-option label .plan-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1 0 0;
}

.plan-info{
          display: flex;
          justify-content: space-between;
          align-items: center;   
}
        
.plan-cost {
          color: #3C4852;
          text-align: center;
          font-family: 'Roboto',sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 19.2px */
          display: flex;
          justify-content: center;
          align-items: center;
          gap:10px;
}
        
.plan-name {
          font-size: 0.875rem;
          line-height: 1.25rem;
          color: rgba(75, 85, 99, 1);
}
        
.plan-option input:checked + label {
          border-radius: 4px;
          border: 2px solid #47BA68;
          background: #155125;
}
   
.btn-grp{
          display: flex;
          margin-top: 25px;
          gap: 10px;
}

.choose-cancel {
          display: flex;
          height: 56px;
          padding: 10px 42px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border-radius: 4px;
          border: 2px solid #F77171;
          color: #DE4313;
          cursor:pointer;
          
}

.choose-pay{
          display: flex;
          height: 56px;
          padding: 10px 42px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border-radius: 4px;
          background: #47BA68;
          color: #D7EDDD;
          cursor: pointer;
          border: none;
}

.input-color input{
          background-color: #47BA68;
}

        
.choose-pay:hover {
          opacity: .9;
}
   
.choose-cancel:hover{
background-color: #F77171;
color: #D7EDDD;
}

.plan-option input {
          display: none;
}

.subsc-calculation{
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 12px;
          align-self: stretch;
          border-top: 2px solid #BEBEBE;
          background: #FFF;
}

.text-container{
          display: flex;
          height: 24px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
}

.subs-fee{
          color: #3C4852;
          text-align: center;
          font-family: 'Roboto',sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
}

.total{
          color: #3C4852;
          text-align: center;
          font-family: 'Roboto',sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
          letter-spacing: 0.48px;
}

.offer{
          display: flex;
          width: 481px;
          padding: 0.5rem .4rem;
          /* margin: 10px 0; */
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
          border-radius: 8px;
          border: #DE4313 2px solid;
          background: linear-gradient(135deg, rgba(222, 67, 19, 0.20) 0%, rgba(222, 67, 19, 0.20) 0.75%, rgba(222, 67, 19, 0.20) 2.92%, rgba(222, 68, 20, 0.20) 6.37%, rgba(223, 69, 21, 0.20) 10.97%, rgba(223, 72, 22, 0.20) 16.59%, rgba(224, 75, 24, 0.20) 23.10%, rgba(225, 80, 27, 0.20) 30.37%, rgba(227, 86, 31, 0.20) 38.27%, rgba(229, 94, 36, 0.20) 46.66%, rgba(231, 104, 43, 0.20) 55.41%, rgba(235, 117, 51, 0.20) 64.39%, rgba(238, 132, 60, 0.20) 73.47%, rgba(243, 149, 71, 0.20) 82.52%, rgba(248, 169, 84, 0.20) 91.41%, rgba(254, 193, 99, 0.20) 100%);
}

.alert-header{
          display: flex;
          height: 24px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
}

.alert-offer{
          color: #DE4313;
          text-align: center;
          font-family: 'Roboto',sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 19.2px */
}

.offer-price{
          color: #3C4852;
          text-align: center;
          font-family: 'Roboto',sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
}
.alert-date{
          display: flex;
          justify-content: center;
          align-items: center;
}

.date{
          color: #DE4313;
          text-align: center;
          font-family:' Roboto',sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
          margin-left: 5px;
}

.total-offer{
          display: flex;
          height: 20px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          margin-top: 10px;
}

.discount-price{
          color: #3C4852;
          text-align: center;
          margin-top: 10px;
          padding: 1rem;
          font-family: 'Roboto' ,sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 19.2px */
          display: flex;
}

.discount-price pre{
          color: #3C4852;
          font-family: 'Roboto',sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
}

.dis-price{
          color: #3C4852;
          text-align: center;
          font-family:' Roboto',sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 24px */
          letter-spacing: 0.72px;
          margin-top: 10px;
          padding: 1rem;
}

@media screen and (max-width:640px){
          .plan-chooser{
                    margin: auto;
                    width: 380px;
          }
          .offer{
                    width: 350px;
          }
}